* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 100px;
  --footer-height: 50px;

  --primary-color: #0f8d85;
  --primary-contrast-color: white;
  --card-border-radius: 20px;
}
