.header {
  background: var(--primary-color);
  color: var(--primary-contrast-color);
  height: var(--header-height);
}

.header__headline {
  color: rgb(178, 208, 190);
  font-size: 1.5rem;
}

.header__navlist {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.header__navlist__item {
  margin: 10px;
}

.header__navlist__item--active {
  text-decoration: underline;
}
